anytree
appdirs
aria2p
asyncio
attrdict
beautifulsoup4
bencoding
brotli; platform_python_implementation=='CPython'
brotlicffi; platform_python_implementation!='CPython'
certifi
cfscrape
dnspython
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
lxml
megasdkrestclient
mutagen
oauth2client
pillow
progress
progressbar2
psutil
psycopg2-binary
pybase64
pymongo
pyrogram==2.0.66
python-dotenv
python-magic
python-telegram-bot==13.15
pycryptodomex
qbittorrent-api
requests
telegraph
tenacity
tgCrypto
urllib3
websockets
xattr
yt-dlp
